header{
    height: 60px;
    padding: 12px;
    border-bottom: 1px solid hsl(270, 3%, 86%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.btn-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 10px 0;
}

.scrollable-section{
    width: 260px;
    padding-top: 16px;
    position: sticky;
    max-height: calc(100vh - 72px);
    top: 72px;
    overflow-y: auto;
    overflow-x: hidden;
}
.scrollable-section1{
    height: 100%;
    overflow: scroll;
}
.scrollable-section .component-container{
    margin-bottom: 15px;
    pointer-events: all;
    cursor: pointer;
    border-bottom: 2px solid hsl(270, 3%, 86%);
}
.scrollable-section .component-container .component-thumb{
    height: 150px;
    border: 1px solid hsl(270, 3%, 86%);
    border-radius: 8px;
    margin-bottom: 10px;
}
.scrollable-section .component-container .component-name h6{
    margin-bottom: 4px;
    font-size: 13px;
}
.scrollable-section .component-container .component-name p{
    font-size: 10px;
    margin-bottom: 10px;
}
.preview-btn{
    display: block;
    margin: auto;
}
.main-middle{
    flex: 1;
    padding: 12px;
    border: 1px solid hsl(270, 3%, 86%);
    border-top: 0;
}
.main-middle span{
    height: 500px;
    width: 100%;
    border: 1px solid hsl(270, 3%, 86%);
    display: block;
    margin-bottom: 16px;
    border-radius: 4px;
}
.left-sidebar.right{
    padding-left: 12px;
}
.left-sidebar.right .detail-box{
    border: 1px solid hsl(270, 3%, 86%);
    border-radius: 4px;
    padding: 8px;
}
.left-sidebar.right .detail-box p{
    margin: 0;
    font-size: 12px;
}
.left-sidebar.right .detail-box p:first-child{
    font-weight: 500;
    font-size: 14px;
}
.left-sidebar.right .detail-box.detail-box-two{
   background-color: hsl(300, 8%, 95%);
}